In [1]:
from __future__ import print_function, division
import numpy as np
import pandas as pd

## The a simple version of viterbi algorithm is implemented responsible for part-of-speech tagging.

In [302]:
transi = pd.DataFrame({'VB': [.019, .0038, .83, .0040, .23],
                       'TO': [.0043, .035, 0, .016, .00079],
                       'NN': [.041, .047, .00047, .087, .0012],
                       'PPSS': [.067, .0070, 0, .0045, .00014]},
                      index=['s', 'VB', 'TO', 'NN', 'PPSS'],
                      columns=['VB', 'TO', 'NN', 'PPSS'],
                      dtype='float32')
transi

          VB       TO       NN     PPSS
s     0.0190  0.00430  0.04100  0.06700
VB    0.0038  0.03500  0.04700  0.00700
TO    0.8300  0.00000  0.00047  0.00000
NN    0.0040  0.01600  0.08700  0.00450
PPSS  0.2300  0.00079  0.00120  0.00014

In [303]:
obser = pd.DataFrame({'I': [0, 0, 0, .37],
                      'want': [.0093, 0, .000054, 0],
                      'to': [0, .99, 0, 0],
                      'race': [.00012, 0, .00057, 0]},
                     index=['VB', 'TO', 'NN', 'PPSS'],
                     columns=['I', 'want', 'to', 'race'],
                     dtype='float32')
obser

         I      want    to     race
VB    0.00  0.009300  0.00  0.00012
TO    0.00  0.000000  0.99  0.00000
NN    0.00  0.000054  0.00  0.00057
PPSS  0.37  0.000000  0.00  0.00000

In [348]:
def VITERBI(N, T):
    viterbi = np.zeros((N+2, T))
    bp = np.zeros((N, T))
    for state in range(N):
        viterbi[state, 0] = transi.ix[0, state] * obser.ix[state, 0]
        bp[state, 0] = 0
    for t in range(1, T):
        for s in range(N):
            viterbi[s, t] = max(viterbi[sbar, t-1] * transi.ix[sbar, s] * obser.ix[s, t] for sbar in range(N))
            bp[s, t] = max(viterbi[sbar, t-1] * transi.ix[sbar, s] for sbar in range(N))
    print(viterbi)
#    print(bp)
    viterbi[-1, -1] = max(viterbi[s, -1] * transi.ix[s, -1] for s in range(N))
    bp[-1, -1] = max(viterbi[s, -1] * transi.ix[s, -1] for s in range(N))
VITERBI(4,4)

[[  0.00000000e+00   9.22188054e-07   0.00000000e+00   1.79014414e-15]
 [  0.00000000e+00   0.00000000e+00   3.92575472e-09   0.00000000e+00]
 [  0.00000000e+00   1.16463418e-07   0.00000000e+00   1.05170961e-13]
 [  2.47900002e-02   0.00000000e+00   0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00]]

In [346]:
def VITERBI(T, N):
    viterbi = np.zeros((N+2, T))
    bp = np.zeros((N+2, T))
    for state in range(N):
        viterbi[state, 0] = transi.ix[0, state] * obser.ix[state, 0]
        bp[state, 0] = 0
    # print(viterbi)
    for t in range(1, T):
        for s in range(N):
            viterbi[s, t] = max(viterbi[sbar, t-1] * transi.ix[sbar, s] * obser.ix[s, t] for sbar in range(N))
            #viterbi[s, t] = max(viterbi[sbar, t-1] * transi.ix[sbar, s] for sbar in range(N))
            #bp[s, t] = max(viterbi[sbar, t-1] * transi.ix[sbar, s] for sbar in range(N))
    print(viterbi)
#    print(bp)
#     viterbi[-1, -1] = max(viterbi[s, -1] * transi.ix[s, -1] for s in range(N))
#     bp[-1, -1] = max(viterbi[s, -1] * transi.ix[s, -1] for s in range(N))
#     print(viterbi)
#     print('-------')
#     print(bp)
VITERBI(4, 4)

[[  0.00000000e+00   9.91600054e-05   1.79008582e-03   3.40116296e-05]
 [  0.00000000e+00   3.96640022e-04   1.38824008e-05   7.69736931e-06]
 [  0.00000000e+00   2.15672995e-03   1.86420804e-05   7.33935208e-05]
 [  2.47900002e-02   1.11554996e-04   6.64372053e-06   1.19935753e-04]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00]]

In [289]:
def VITERBI(T, N):
    viterbi = np.zeros((N+2, T))
    bp = np.zeros((N+2, T))
    for state in range(N):
        viterbi[state+1, 0] = transi.ix[0, state] * obser.ix[state, 0]
        bp[state+1, 0] = 0
    for t in range(1, T):
        for s in range(N):
            print(s, t)
            #viterbi[s+1, t] = max(viterbi[sbar, t-1]*transi.ix[sbar, s]*obser.ix[t, sbar] for sbar in range(N))
    #print(viterbi)
VITERBI(4,4)

0 1
1 1
2 1
3 1
0 2
1 2
2 2
3 2
0 3
1 3
2 3
3 3

In [290]:
N = 4
T = 4
viterbi = np.zeros((N+2, T))
bp = np.zeros((N+2, T))
for state in range(N):
    viterbi[state, 0] = transi.ix[0, state]* obser.ix[state, 0]
    bp[state, 0] = 0
print(viterbi)

[[ 0.       0.       0.       0.     ]
 [ 0.       0.       0.       0.     ]
 [ 0.       0.       0.       0.     ]
 [ 0.02479  0.       0.       0.     ]
 [ 0.       0.       0.       0.     ]
 [ 0.       0.       0.       0.     ]]

In [326]:
for t in range(1, T):
    for s in range(N):
#        print(viterbi[s, t-1])
#        print([transi.ix[sbar, s] for sbar in range(N)])
#        print(max(viterbi[s, t-1] * transi.ix[s+1, sbar] for sbar in range(N)))
        print(max(viterbi[s, t-1] * transi.ix[s+1, sbar] * obser.ix[sbar, s] for sbar in range(N)))

0.0
0.0
0.0
6.84203995127e-07
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0

In [292]:
transi

          VB       TO       NN     PPSS
s     0.0190  0.00430  0.04100  0.06700
VB    0.0038  0.03500  0.04700  0.00700
TO    0.8300  0.00000  0.00047  0.00000
NN    0.0040  0.01600  0.08700  0.00450
PPSS  0.2300  0.00079  0.00120  0.00014

In [293]:
obser

         I      want    to     race
VB    0.00  0.009300  0.00  0.00012
TO    0.00  0.000000  0.99  0.00000
NN    0.00  0.000054  0.00  0.00057
PPSS  0.37  0.000000  0.00  0.00000

In [304]:
transi.ix[0,3]*obser[3,0] * transi.ix[4, 0] * obser.ix[0, 1]

5.347500116713346e-05

In [ ]:
transi.ix[0,3]*obser[3,0] * transi.ix[4, 0] * obser.ix[0, 1]